# Dependencies
node_modules/

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Rust
target/
Cargo.lock

# Local data
data/

# Logs
*.log

# Tauri signing keys
.tauri_private_key
*.key

# Don't know why this file is always created...
nul
